<div ng-controller="mainPanelController">
	<br>

	<div>
	<form action="http://localhost:8080/run" method="get">
		Book: <input type="text" name="text">
		<input type="submit" value="Run"/>
		<!--<input type="text"  name="textType" value="book" disabled="true">-->
		<input type="file" style="display:none;" id="inputfile"/>
		<!--<a href="javascript:document.getElementById('inputfile').click(); ">try this</a>-->
	</form>
	<br>
	<form action="http://localhost:8080/run" method="get">
		Text: <input type="text" name="text">
		<input type="submit" value="Run"/>
		<!--<input type="text" value="text" disabled="true">-->
	</form>
	<br>
	</div>
	<br>
	<form action="http://localhost:8080/extend" method="get">
		Book: <input type="text" name="extendBook"><br>
		<input type="submit" value="Extend"/>
	</form>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-warn" ng-disabled="!isGraphLoadedSuccessfully" ng-click="breakExtending()">Przerwij budowe grafu</md-button>
		<md-button class="md-accent md-raised md-hue-1" ng-disabled="!isGraphLoadedSuccessfully" ng-click="outputText = ''">Usuń odpowiedź</md-button>
		<md-button class="md-accent md-raised md-hue-1" ng-disabled="!isGraphLoadedSuccessfully" ng-click="clearInput()">Wyczyść wejście</md-button>
	</section>
	<br>
	<!--<form action="http://localhost:8080/context">-->
		<!--<input type="submit" value="Context"/>-->
	<!--</form>-->
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-primary" ng-disabled="!isGraphLoadedSuccessfully" ng-click="textAnalysis()">Analiza tekstu</md-button>
		<md-button class="md-raised md-primary" ng-disabled="!isGraphLoadedSuccessfully" ng-click="finishWord()">Dokończ słowo/Kolejne słowo</md-button>
		<md-button class="md-raised md-primary" ng-disabled="!isGraphLoadedSuccessfully" ng-click="checkInputWords()">Sprawdź słowa</md-button>
	</section>
	<br>
	<div id="inputText" contenteditable=true spellcheck=false></div>
	<br>
	<!--<div id="outputText" spellcheck=false ng-model="outputText">-->
		<!--<pre>{{outputText}}</pre>-->
	<!--</div>-->
	<!--<script src="./js/scripts/graph/graph.js"></script>-->
	<ng-include src="'html/graph-view.html'"/>
</div>
