<div ng-controller="mainPanelController">
	<br>
	<form action="http://localhost:8080/run" method="get">
		Book: <input type="text" name="book"><br>
		<input type="submit" value="Run"/>
	</form>
	<br>
	<form action="http://localhost:8080/extend" method="get">
		Book: <input type="text" name="extendBook"><br>
		<input type="submit" value="Extend"/>
	</form>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-warn" ng-click="breakExtending()">Przerwij budowe grafu</md-button>
		<md-button class="md-accent md-raised md-hue-1" ng-click="outputText = ''">Usuń odpowiedź</md-button>
	</section>
	<br>
	<!--<form action="http://localhost:8080/context">-->
		<!--<input type="submit" value="Context"/>-->
	<!--</form>-->
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised md-primary" ng-click="textAnalysis()">Analiza tekstu</md-button>
		<md-button class="md-raised md-primary" ng-click="nextWord()">Kolejny wyraz</md-button>
		<md-button class="md-raised md-primary" ng-click="checkInputWords()">Sprawdź słowa</md-button>
	</section>
	<br>
	<div id="inputText" contenteditable=true spellcheck=false></div>
	<br>
	<div id="outputText" contenteditable=true spellcheck=false ng-model="outputText">
		<pre>{{outputText}}</pre>
	</div>
</div>