<div ng-controller="mainPanelController" style="margin-left: 50px;">
	<div id="page-wrapper">
		<div id="page-viewport">
			<div id="sidebar">
				<div id="sidebar-header">
					<a href="" class="toggle-sidebar icon-background"><h3>AAS</h3></a>
					<span class="pull-right">
							<a href="" class="toggle-sidebar btn btn-default">
							<i class="fa fa-bars"></i>
							</a>
							</span>
				</div>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="javascript:document.getElementById('inputFile').click()"
						   class="icon-background">Add file<span class="pull-right"><i
							class="fa fa-file icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="createGraph()"
						   class="icon-background">Create graph<span class="pull-right"><i
							class="fa fa-plus icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="extendGraph()"
						   class="icon-background">Extend graph<span class="pull-right"><i
							class="fa fa-expand icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="breakExtending()"
						   class="icon-background">Break extending<span class="pull-right"><i
							class="fa fa-stop icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="textAnalysis()"
						   class="icon-background">Text analysis<span class="pull-right"><i
							class="fa fa-superpowers icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="checkInputWords()"
						   class="icon-background">Check words<span class="pull-right"><i
							class="fa fa-check icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="finishWord()"
						   class="icon-background">Next word<span class="pull-right"><i
							class="fa fa-arrow-right icon-background"></i></span></a>
					</li>
					<li ng-controller="graphController">
						<a href="" ng-click="drawGraph()"
						   class="icon-background">Draw graph<span class="pull-right"><i
								class="fa fa-code-fork icon-background fa-rotate-90"></i></span></a>
					</li>
					<li><a href="" ng-click="cleanInput()"
						   class="icon-background">Clean input<span class="pull-right"><i
							class="fa fa-eraser icon-background"></i></span></a>
					</li>
					<li><a href="" ng-click="outputText = ''"
						   class="icon-background">Clean output<span class="pull-right"><i
							class="fa fa-eraser icon-background fa-rotate-180"></i></span></a>
					</li>
				</ul>
			</div>
			<div id="sidebar-page-content">
				<input type="file" style="display:none;" id="inputFile"/>

				<div id="inputText" contenteditable=true spellcheck=false></div>

				<br>

				<div id="outputText2" spellcheck=false ng-model="outputText">
					<p>{{outputText}}</p>
				</div>

				<div id="outputText">

				</div>

				<div id="d3-graph">

				</div>
			</div>

		</div>
	</div>
</div>
