#inputText {
	width: auto;
	height: 100px;
	padding: 10px;
	background-color: #444;
	color: white;
	font-size: 14px;
	font-family: monospace;
	overflow: auto;
	text-decoration: none;
}

#outputText {
	width: auto;
	height: 100px;
	padding: 10px;
	background-color: #444;
	color: white;
	font-size: 14px;
	font-family: monospace;
	overflow: auto;
}

.tooltip {
	top: -10px;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	padding: 5px;
	color: #333;
	border-radius: 10px;
	margin-top: 10px;
	width: 0%;
}

.hover:hover .tooltip {
	opacity: 1;
	background: yellow;
	margin-top: 25px;
	margin-left: -50px;
	width: 1000%;
}

.hover {
	position:relative;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 13px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}


.navbar {
	margin-bottom:0px;
}
#page-wrapper {
	position: fixed;
	width:100%;
	height:100%;
	/*top:52px;*/
	left:0;
}

#page-viewport {
	position:relative;
	width:100%;
	height:100%;
	transition: .5s ease all;
}

#sidebar {
	position: absolute;
	width: 250px;
	height: 100%;
	left:-200px;
	border-right: 1px solid #f0f0f0;
	background-color: #f4f4f4;
	padding: 5px;
}

#sidebar h3 {
	display:inline;
	position:relative;
	top:5px;
	left:5px;
}
#sidebar a:hover {
	text-decoration:none;
}

#sidebar-header {
	height: 40px;
	border-bottom:1px solid #f0f0f0;
}

#sidebar-page-content {
	position:absolute;
	width: -webkit-calc(100% - 50px);
	left:50px;
	padding: 5px;
	transition: .5s ease all;
}

#page-content {
	padding: 5px;
}

#page-wrapper.show-sidebar #page-viewport {
	-webkit-transform: translateX(200px);
}

#page-wrapper.show-sidebar #sidebar-page-content {
	width: -webkit-calc(100% - 250px);
}

.icon-background {
	color: #000000;
}

.disabled {
	pointer-events: none;
	cursor: default;
}