#inputText {
	width: auto;
	height: 150px;
	padding: 10px;
	background-color: #444;
	color: white;
	font-size: 12px;
	font-family: monospace;
	overflow: auto;
	text-decoration:none;
}

#outputText {
	width: auto;
	height: 150px;
	padding: 10px;
	background-color: #444;
	color: white;
	font-size: 12px;
	font-family: monospace;
	overflow: auto;
}

.wrongWord {
	color: red;
}